/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html, body {
  width: 100%;
  height:100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
section {
  /* background-color: #1D1B31; */
  /* background-color: #033547 ; */
  /* background: linear-gradient(-45deg, #11101d,  #23a6d5 ); */
}
/*.home-section {
  background: linear-gradient(-45deg, #11101d,  #23a6d5 );
  background-size: 400% 400%;
  animation: home 15s ease infinite;
}
  
@keyframes home {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 
.about-section {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: about 15s ease infinite;
}

@keyframes about {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} 
.services-section {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: services 15s ease infinite;
}

@keyframes services {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} 
.projects-section {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: projects 15s ease infinite;
}

@keyframes projects {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} 
.contact-section {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: contact 15s ease infinite;
}

@keyframes contact {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
#log_out{
  display: flex;
  justify-content: center;
 color: #fff;
 margin: auto;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.sidebar.open ~ .home-section,
.sidebar.open ~ .about-section,
.sidebar.open ~ .services-section,
.sidebar.open ~ .project-section,
.sidebar.open ~ .contact-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section, .about-section, .services-section, .projects-section, .contact-section{
  position: relative;
  background: #E4E9F7;
  /* min-height: 100vh; */
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
/* .page-title {
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.page-title::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  --bg-opacity: 1;
  background-color: #D35F60;
  background-color: rgba(211, 95, 96, var(--bg-opacity));
  display: block;
}
.home-section .text::after, .about-section .text::after, .services-section .text::after, .projects-section .text::after, .contact-section .text::after{
  hash border-bottom: 2px solid #1d1b31 ;
  hash border-bottom-width: 50px;
  content: "";
  height: 0.25rem;
  width: 3rem;
  --bg-opacity: 1;
  background-color: #D35F60;
  background-color: rgba(211, 95, 96, var(--bg-opacity));
  display: block;
} */
.home-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
/* .circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	background: lightblue;
	clip-path: circle(70% at left -20%);
  opacity: 1;
}
.circle3{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	background: lightblue;
	clip-path: circle(70% at right 20%);
  opacity: 1;
} */
.home-section .name {
  /* padding-top: 100px; */
  padding-top: 50px;
}
.home-section .profile-img {
  /* padding-top: 10px; */
  padding-top: 30px;
  padding-right: 0;
}
.profile-img img{
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.home-section .text
/* .about-section .text,
.services-section .text,
.projects-section .text,
.contact-section .text */{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.name h5{
  font-size: 18px;
}
.name h1 span::before{
  content: '';
  background: linear-gradient(-180deg);
  animation: animate infinite 8s;
}
@keyframes animate{
  0%{
      content: 'Web Developer';
  }
  100% {
    content: 'Data Analyst';
  }
}
/* @keyframes animate{
  0%{
      content: 'Web Designer |';
  }
  25%{
      content: 'Data Analyst |';
  }
  50%{
      content: 'Mathematician |';
  }
  75%{
      content: 'Footballer |' ;
  }
  100%{
      content: 'Photographer |';
  }
} */
.home-btn {
  display: flex;
}
.home-btn a{
  border-radius: 2px;
  background-color:#1d1b31;
  /* background-color: #0000; */
  color: #ffff;
  padding: 3px 8px;
  height: 30px;
  margin-right: 15px;
  text-decoration: none;
}

.home-btn a:hover{
  text-decoration: none;
  color: #ffff;
}
/* .home-btn a.hire:hover{
  text-decoration: none;
  background-color: #ffff;
  color: #11101D;
} */

/* .home-btn a:nth-child(2){
  background-color:transparent;
  color: #000;
  text-decoration: none;

} */
.home-btn a.view-projects{
  background-color:transparent;
  color: #000;
  text-decoration: none;

}
.home-btn a.view-projects:hover{
  background-color: #1d1b31;
  color: #fff;
}

/* .about-holder {
  margin-left: 50px auto;
  margin-right: 50px auto;
  border: 2px solid #11101d;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 3px;
} */
.about-section{
  display: flex;
  justify-content: center;
}
.about-holder{
  margin: 100px 150px 0 150px;
  /* border: 2px solid #11101d; */
  /* margin: auto; */
  background: #fff;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  /* margin-left: 200px; */
}
.about-section .about-img {
  width: 200px;
  height: 300px;
  margin: auto;
}
.about-section .about-img img{
  object-fit: cover;
  object-position: top;
  width: 200px;
  height: 300px;
  border-radius: 5px;
}
.about-text {
  display: grid;
  justify-content: flex-start;
  /* padding: 20px; */
  padding-right: 130px;
  padding-bottom: 30px;
  width: 60%;

}
.about-section .text{
  padding-top: 30px;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 10px;
}
.about-section2{
  display: none;
}
.services-section {
  padding: 20px;
}
.services-section .text{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.services-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-holder .card {
  margin:20px 5px ;
  width: 400px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}
.services-holder .card i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  margin: auto;
  background-color: #1d1b31;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
}
.services-holder .card-img {
  height: 150px;
}
.services-holder .card img {
  border-radius: 10px 10px 0 0;
  padding: 2px;
  /* height: 100px; */
  height: 100%;
  width: 100%;
} 
.services-holder .card h3 {
  margin-top: 5px;
  padding: 5px 10px;
} 

.services-holder .card p {
  padding: 5px 10px;
  font-size: 15px;
}
.projects-section .text {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin:0 18px 18px 18px;
}
/* .nav-pills li .nav-item a .nav-link.active {
  background-color:#1d1b31;
  color: #ffff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {  
  background-color:#1d1b31;
  color: #ffff;
}
.nav-pills .nav-link.active{  
  background-color:#1d1b31;
  color: #ffff;
} */

.nav-pills .nav-item a.active {  
  background-color:#1d1b31;
  color: #fff;
}

.nav-pills:hover .show>.nav-link {
  background-color:#1d1b31;
  color: #ffff;
}
.nav-link {
  color: #000;
  padding: 5px;
}
.nav-link:hover {
  background-color:#1d1b31;
  color: #ffff;
}
#pills-tab {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.tab-content {
  display: flex;
  justify-content: center;
}
.project-holder{
  /* display: grid;
  justify-content: center; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.project-holder img {
  width: 400px;
  height: 250px;
  margin: 20px;
  border-radius: 7px;
}
/* .project-img2{
  width: 400px;
} */
.project-img2 img {
  /* width: 100%; */
  height: 250px;
  object-fit: cover;
  /* border-radius: 15px 15px 0 0; */
}
.project{ 
  display: flex;
}
.project-details h4{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.project-details3 h4{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.project-details h5 {  
  display: flex;
  justify-content: center;
  font-size: 17px;
}

.project-details3 h5 {  
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.project-details p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.project-details3 p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.project-link {  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-link a, .project-link a:hover{
  margin: 10px;
  background-color:#1d1b31;
  color: #ffff;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 13px;
}
.project-tools{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-tools p {
  margin: 10px;
  background-color:#1d1b31;
  color: #ffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.profile-img img {
  width: 400px;
  height: 250px;
}

.images-holder{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images-holder img {
  width: 400px;
  height: 350px;
  margin: 20px;
  border-radius: 20px;
}
.contact-section {
  display: grid;
  justify-content: center;
  padding: 20px;
}
.alert {
  display: none;
}

.social-media h4{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px 18px 50px 18px;
}
.mobile {
  /* display: grid; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.mobile a {
  color: #000;
}
.mobile a:first-child {
  margin: 0 30px;
}
.mobile a:hover {
  text-decoration: none;
  color: #000;
}
.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social-icons a {
  /* justify-content: space-around; */
  margin: 10px;
  color: #000;
}
.social-icons a:hover {
  color: #1d1b31;
}
.social-icons i{
  font-size: 18px;
}
/* .footer-details {
  display: flex;
  justify-content: space-evenly;
} */
footer{
  background-color: #11101D;
  color: #ffff;
}
.footer-details {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.footer-details i {
  /* margin-top: -15px; */
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .home-section .name{
    padding-top: 20px;
    margin: auto;
  }
  .home-section .profile-img{
    margin: auto;
  }

  .home-section .profile-img  img{
    /* width: 280px; */
    width: 230px;
  }
  .card h3{
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .about-holder{
    display: none;
    /* width: 250px; */
    /* margin: auto; */
    width: 250px;
    margin: auto;
    /* margin-left: 0;
    margin-right: 0; */
  }
  .about-img{
    width: 30px;
    height: 30px;
    padding-top: 20px;
  }
  .about-img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain ;
  }
  .about-text .text{
    display: flex;
    justify-content: right;
    font-size: 20px
  }
  .about-text p{
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
  }

  .about-section2{
    display: block;
    background: #E4E9F7;
  }
  .about-holder2 {  
    display: flex;
    justify-content: center;  
    margin: auto;
    padding-top: 35px;
  }
  .about-text2{
    width: 250px;
    /* margin-left: 100px;
    margin-right: 10px; */
    /* margin-left: 120px ; */
    /* margin-right: 150px auto; */
    /* margin: auto; */
    margin-left: 90px ;
    /* margin-right: 150px; */
    /* border: 2px solid red; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  }

  .text2{
    padding-top: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }

  .about-text2 p {
    padding: 0 10px;
  }

  /* .services-holder .card {
    width: 350px;
  } */
  .footer-details {
    /* display: grid; */
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .project-holder {
    display: grid;
    justify-content: center;
    margin: auto;
    /* flex-wrap: wrap; */
    width: 300px;
  }

  .project {
    display: grid;
    /* justify-content: center; */
    /* width: 300px; */
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 45px; */
    margin-right: auto;
    margin-left: auto;
    /* border: 2px solid #11101D; */
  }
  
  /* .project-details {    
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #11101D;
  } */

  .project-holder img {
    /* width: 300px; */
    width: 245px;
    margin: auto;
  }
  .project-details p{
    /* padding: 0 10px; */
    /* padding-left: 25px; */
    padding-left: 8px;
  }
  .mobile a{
    font-size: 14px;
  }
  footer {
    height: 62px;
  }
  .footer-details {
   /* display: grid; */
   display: flex;
   justify-content: center; 
   margin-left: 80px;  
  }
  .footer-details i {
    /* margin-top: -15px; */
    /* margin-top: -10px; */
    margin-top: -16px;
  }
}













